@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

#Game-Area {}

/* Input */
.input-verbo::placeholder {

    font-weight: 900;
    color: rgb(170, 170, 170);
}

.input-verbo {
    border: 2px solid;
}

.input-verbo-group {
    padding: 4vmin;
    text-align: center;
}

.Tiempo-Label {
    font-size: 4vmin;
}

#Marcadores {

    font-size: 4vmin;
    margin: 5vmax 0;
}

.Cronometro-Label {
    font-family: "Orbitron", sans-serif;

}