#Tabla-IV{
    border: solid 1px black;

    max-height: 75vh;

    max-width: 50vw;


    margin: auto;
    

}

#Tabla-IV tr{


}

#Tabla-IV tbody th, #Tabla-IV td{

    padding:1vmin;
}

#Tabla-IV tbody{
    overflow-y: scroll;
    display: block;
    height: 75vh;

}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}



