#Tabla-IV {
    border: solid 1px black;

    max-height: 70vh;

    width: 90vw;

    margin: auto;

}

#Tabla-IV tbody th,
#Tabla-IV td {
    padding: 1vmin;
}

#Tabla-IV tbody {
    overflow-y: scroll;
    overflow-x: auto;
    display: block;
    height: 50vh;

}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-header th {
    vertical-align: middle;
}

.numero {

    width: 10%;
}